h1 {
    text-align: center;
}

#center {
    text-align: center;
}

#comment {
    height:100px;
}
/*.menu {
    display:inline-block;
    width:160px;
    height:160px;
    border-radius:80px;
    font-size:20px;
    color:white;
    line-height:160px;
    text-align:center;
    text-decoration:none;
    background:lightgreen; 
}
.menu:hover {
    color:white;
    text-decoration:none;
    background:#33CC66;
}*/
#box {
    width:370px;
    height:520px;
    padding:15px;
    border:3px solid lightgray;
    margin:25px;
}
#smbox {
    width:220px;
    height:270px;
    padding:10px;
    border:3px solid lightgray;
    margin:10px;
}

body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

/*UI Kit*/
body {
    background-color: #5AAE62;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#accordion .panel {
    margin: 0;
}

#accordion .panel-default {
    border: none;
}

#accordion .panel-heading {
    background-color: #8DBF30;
    color: white;
}

#accordion .panel-heading:hover {
    background-color: white;
    color: black;
}

#accordion * {
    border-radius: 0px;
}

.post > * {
    margin: 20px;
}

.post .author {
    color: orange;
}